@font-face {
    font-family: "Times New Roman";
    src:url(fuente/times.ttf);/*this is an extra change of the font*/
  }
table{
    width: 100%;
    border-collapse: collapse;
  }
table, th, td{
  border: 1px solid;
  font-size:2rem;
  vertical-align: middle;  
  text-align:center;
}
img {
    vertical-align: middle;  
    width: 15%;
    height: auto;
}
header {
    margin: 0;
    background-color:rgb(101, 229, 255);
    color: black;
    
  }
h1 {
    margin: 0;
    padding: 10px 20px 0px;
    font-size:4rem;
    text-transform: uppercase;
    font-family: "Times New Roman", sans-serif;
}
main {
    display: block;
    border-left: rgb(101, 229, 255) 10px solid;
    border-right: rgb(101, 229, 255) 10px solid;
    margin: 0 5%;  
    padding: 0 5%;
  }
a{
  color: black;
  text-decoration: none;
}
dl {
  margin: 0 2%; 
  text-align:left;
  font-weight: bold;
 }
p{ 
  text-align:left;
  font-weight: bold;
   font-size:167%;
}
caption {
  text-align:center;
  font-size:2rem;
}
.D110{
  background-color:pink;
}
.D102{
  background-color:rgb(180, 231, 59);
}
.D101{
  background-color: rgb(61, 143, 252);
}
.DANGT{
  background-color: rgb(175, 117, 250);
}
.D111{
  background-color: rgb(255, 75, 75);
}
.D104{
  background-color: rgb(255, 172, 65);
}
.TUT{
  background-color: rgb(248, 252, 37);
}
.D10305{
  background-color: rgb(0, 252, 252);
}