.grid-container {
    display: grid;
    /*grid gap, grid INTERNAL distance, vert. horizontal*/
    /*gap color*/
    background-color: #ffffff;
    /*padding, grid EXTERNAL distance*/
    padding: 10px;

    /*grid-template-columns, specify size of N columns */
    /*grid-template-columns: 20% 30% 30% 20%*/
    /*you can use fr  (“fraccio”) to "repeat the space left"*/
    grid-template-columns: auto auto auto ;
    grid-template-rows: 1fr 2fr 1fr;
}

.grid-item {
    text-align: center;
    padding: 20px;
    font-size: 30px;
}
.item1{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    background-color:blue;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 0;
    grid-row-end: 1;
}
.item2{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    background-color:blue;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.item3{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    background-color:blue;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.item4{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    background-color: blue;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.item5{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    background-color:#00d3b3;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

