div.main-container {
    display: grid;
    grid-gap: 30px 30px;
    padding: 10px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    width: 50%;
    margin:0 auto;
}
div.cell1{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    background-color: #1cffd9;
}
div.cell2{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    background-color: #fd0000;
}
div.cell3{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    background-color: #54ff54;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
div.cell4{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    background-color: #002dd2;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}
div.cell5{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    background-color: #e228ff;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}