div.flex{
    display:flex;
    flex-flow: row wrap;
}
img.main{
    width:100%;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
 }
img.cont{
    width:75px;
}
div.caja{
    margin:40px;
    width:20%;
    background-color: white;
border-radius: 25px;
}
body{
    background-color: #e1e1e1;
}
h1{
    color: grey;
    margin-bottom: 0;
    margin-left: 2%;
}
div.caja2{
    padding-left: 20px;
    padding-bottom: 10px;
}
span{
    color: black;
}
p.prec{
    color:black;
    font-size: 35px;
    padding:0;
    margin: 0;
}
p.tit{
    color: #656565;
}
p{
    color: #9f9f9f;
    margin:5px;
}
div.text2{
    margin-left: 20px;
}
div.flex2{
    display:flex;
    width: 100%;
}
div.cont{
    padding-left: 20px;
    padding-top: 5px;
    background-color: #ebfcff;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    font-size: 14px;
    height: 140px;
}
div.ban{
    display:flex;
    margin-bottom: 20px;
    margin-top: 20px;
}
img{
    padding:0;
    width: 12%;
}