a{
    text-decoration: none;
    color:grey;
}
img.up{
    width: 500px;
    height: 200px;
    border-radius: 30px;
    padding: 10px;
}
img.down{
    width: 300px;
    height: 120px;
    border-radius: 30px;
    padding: 10px;
}
h2{
    color:grey;
    margin: 10px;
}
h3{
    color:grey;
    margin: 10px;
}
p{
    padding-left: 10px;
    padding-right: 10px;
    color:grey;
}
div.main-container {
    display: grid;
    grid-gap: 30px;
    padding: 10px;
    grid-template-columns: auto auto auto auto auto auto auto ;
    grid-template-rows: auto auto auto auto auto;
    margin:0 auto;
}
div.tit {
    text-align: center;
    font-size: 30px;
    color:grey;
    border-bottom: solid #00eaff;
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
}
div.hyperlink {
    font-size: 20px;
    color:grey;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
div.sevilla {
    text-align: center;
    border: solid;
    border-color: #3ad7fa;
    border-radius: 30px;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
div.sanpeter {
    text-align: center;
    border: solid;
    border-color: #3ad7fa;
    border-radius: 30px;
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
 }
div.berlin {
    text-align: center;
    border: solid;
    border-color: #3ad7fa;
    border-radius: 30px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
div.paris {
    text-align: center;
    border: solid;
    border-color: #3ad7fa;
    border-radius: 30px;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}
div.var {
    text-align: center;
    border: solid;
    border-color: #3ad7fa;
    border-radius: 30px;
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 4;
}
div.footer {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    border-top: solid #00eaff;
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 5;
}
div.footer2{
    padding: 20px;
    color: grey;
}
div.footer3{
    text-align: center;
    padding: 20px;
    color: grey;
}
img.foot{
    width: 200px;
}
@media (max-width: 768px) {
    div.main-container {
        display: flex;
        flex-flow: column;
        background: black;
    }
    div.hyperlink {
        text-align: center;
    }
    img.up{
        width: 300px;
        height: 120px;
        border-radius: 30px;
        padding: 10px;
    }
    div.footer{
        display: flex;
        flex-flow: column;
        color:white;
    }
    div.footer2{
        text-align: center;
        color:white;
    }
    div.footer3{
        color: white;
    }
    div.hyperlink {
        color:white;
    }
    div.tit {
        color:white;
    }
    h2{
        color:white;
    }
    h3{
        color:white;
    }
    p{
        color:white;
    }
    a{
        color:white;
    }
}