body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana;
}
header{
    padding: 30px;
    background: blue;
    color: yellow;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}
nav {
    background: skyblue;
}
nav a {
    color: black;
    text-decoration: none;
    padding: 15px;
    width: 100%;
    text-align: center;
}
nav a:hover {
    background: rgb(58, 126, 221);
    color: #CCCCCC;
}

main{
    padding: 5px;
    color: black;
    text-align: center;
    font-size: 2em;
    font-weight: bold;

}

footer {
    padding: 5px;
    background: blue;
    text-align: center;
    color: yellow;
    font-size: 1em;
    font-weight: bold;
}
