.grid-container {
    display: grid;
    /*afegeix coses*/
    background-color: lightgray;
    grid-template-columns: 100px 100px 100px ;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 10px 10px;
    padding: 10px;
    width: 320px;
}

.grid-item {
    text-align: center;
    padding: 20px;
    font-size: 1px;
    background-image: url("image.png");
    background-repeat: no-repeat;
    background-size: cover;

}
.grid-item2 {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    background-color: #3ad7fa;
}

.item6{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}


