
/* Paginas web HTML y hojas de estilo CSS   */
/* Bartolome Sintes Marco                   */
/* https://www.mclibre.org                   */
/*                                          */
/* CSS ejercicio: Escritores espaÃ±oles      */
/*                                          */
/* 18 de noviembre de 2016                  */
/*                                          */

@font-face {
  font-family: "playball";
  src: url("playball.woff");
}
li.wi{
    display: table;
    background-color: tomato;
}
li.ja{
    display: table;
    background-color: violet;
}
li.cd{
    display: table;
    background-color: slateblue;
}
li.go{
    display: table;
    background-color: orange;
}
td.sh{
    background-color: tomato;
    height:50px;
}
td.cd{
    background-color: slateblue;
    height:50px;
}
td.go{
    background-color: orange;
    height:50px;
}
td.ja{
    background-color: violet;
    height:50px;
}
table{
    border-collapse: collapse;
    width: 100%;
}
table, th, td{
    border: 1px solid;
    font-size:2rem;
    vertical-align: middle;
    text-align:center;
}
h2.in{
    font-size: 3rem;
}
a{
    color: #000000;
}
body {
  margin: 0;
  background-color: white;
  font-family: "playball", sans-serif;
  font-size: 1.5rem;
  text-align: justify;
}
header.in{
    background-color: #000000;
    color: white;
}
header.sh {
  background-color: tomato;
  color: white;
}
header.go {
  background-color: orange;
  color: white;
}header.cd {
   background-color: slateblue;
   color: white;
 }header.ja {
    background-color: violet;
    color: white;
  }
h1 {
  margin: 0;
  padding: 10px 10px 40px;
  font-size: 4rem;
  text-transform: uppercase;
}
main.in {
    display: block;
    border-left: #000000 solid;
    border-right: #000000 solid;
    margin: 0 5%;  /* Pone 0 para que se aplique el margin-top de article.siglo */
    padding: 0 5%;
}
main.sh {
  display: block;
  border-left: tomato solid;
  border-right: tomato solid;
  margin: 0 5%;  /* Pone 0 para que se aplique el margin-top de article.siglo */
  padding: 0 5%;
}
main.go {
    display: block;
    border-left: orange solid;
    border-right: orange solid;
    margin: 0 5%;  /* Pone 0 para que se aplique el margin-top de article.siglo */
    padding: 0 5%;
}main.cd {
     display: block;
     border-left: slateblue solid;
     border-right: slateblue solid;
     margin: 0 5%;  /* Pone 0 para que se aplique el margin-top de article.siglo */
     padding: 0 5%;
 }main.ja {
      display: block;
      border-left: violet solid;
      border-right: violet 5px solid;
      margin: 0 5%;  /* Pone 0 para que se aplique el margin-top de article.siglo */
      padding: 0 5%;
  }
article.sigloSh {
  margin: 50px 0;
  padding-bottom: 20px;
  background-color: hsl(15, 100%, 90%);
}
article.sigloGo {
    margin: 50px 0;
    padding-bottom: 20px;
    background-color: #ffd386;
}
article.sigloCd {
    margin: 50px 0;
    padding-bottom: 20px;
    background-color: #b2a6f5;
}
article.sigloJa {
    margin: 50px 0;
    padding-bottom: 20px;
    background-color: #efc7ef;
}
 h2.sh {
  margin: 0;
  padding-left: 10px;
  background-color: tomato;
  color: white;
}
h2.go {
    margin: 0;
    padding-left: 10px;
    background-color: orange;
    color: white;
}
h2.cd {
    margin: 0;
    padding-left: 10px;
    background-color: slateblue;
    color: white;
}
h2.ja {
    margin: 0;
    padding-left: 10px;
    background-color: violet;
    color: white;
}

article article {
  overflow: auto;
  margin: 30px 10%;
  padding-bottom: 30px;
  background-color: white;
}

article article p {
  padding-left: 30px;
  padding-right: 30px;
}

aside.sh {
  float: right;
  border-left: tomato solid;
  margin: 10px 0 10px 30px;
  padding: 10px 20px;
}
aside.go {
    float: right;
    border-left: orange solid;
    margin: 10px 0 10px 30px;
    padding: 10px 20px;
}
aside.cd {
    float: right;
    border-left: slateblue solid;
    margin: 10px 0 10px 30px;
    padding: 10px 20px;
}
aside.ja {
    float: right;
    border-left: violet solid;
    margin: 10px 0 10px 30px;
    padding: 10px 20px;
}

aside p {
  margin: 0;
  padding: 0;
  text-align: center;
}
footer.in{
    background-color: #000000;
    color: white;
    margin-top: 20px;
}
footer.sh {
    background-color: tomato;
    color: white;
}
footer.go {
    background-color: orange;
    color: white;
}footer.cd {
     background-color: slateblue;
     color: white;
 }footer.ja {
      background-color: violet;
      color: white;
  }
footer p {
  margin: 0;
  padding: 5px;
}
