
img {
    float: right;
    width: 6%;
    height: auto;
    vertical-align: middle;
}
header {
    margin: 0;
    background-color:rgb(101, 229, 255);
    color: black;
  }
h1 {
    margin: 0;
    padding: 10px 20px 0px;
    font-size:3rem;
    text-transform: uppercase;
  }
h2{
  font-size: 2.5rem;
  margin: 0;
}
p,label,select{
  margin: 0;
  font-size: 1.5rem;  
  padding: 10px 20px 0px;
}
dl{
  margin: 0;
  padding: 10px 20px 0px;
  font-size: 1.5rem; 
}
section{
  padding: 0px 10px 0px;
}
main {
  display: block;
  border-left: rgb(101, 229, 255) 10px solid;
  border-right: rgb(101, 229, 255) 10px solid;
  margin: 0 5%;  
  padding: 0 5%;
}
h3{
  font-size: 2rem;
  font-weight: bold; 
}
table{
  width: 100%;
  border-collapse: collapse;
}
table, th, td{
border: 1px solid;
font-size:2.5rem;
vertical-align: middle;  
text-align:center;
padding: 2%;
}
th{
  background-color: rgb(94, 169, 255);
}
.days{
  background-color: rgb(252, 133, 133);
}
footer{
  font-weight: bold; 
}
.medio{
  text-align: center;
}
