@import url("mclibre-pie.css");

/* Paginas web HTML y hojas de estilo CSS   */
/* Bartolome Sintes Marco                   */
/* https://www.mclibre.org                   */
/*                                          */
/* CSS ejercicio: Escritores espaÃ±oles      */
/*                                          */
/* 18 de noviembre de 2016                  */
/*                                          */

@font-face {
  font-family: "playball";
  src: url("playball.woff");
}

body {
  margin: 0;
  background-color: white;
  font-family: "playball", sans-serif;
  font-size: 1.5rem;
  text-align: justify;
}

header {
  background-color: hsl(15, 80%, 50%);
  color: white;
}

h1 {
  margin: 0;
  padding: 10px 10px 40px;
  font-size: 4rem;
  text-transform: uppercase;
}

main {
  display: block;
  border-left: hsl(15, 100%, 60%) 5px solid;
  border-right: hsl(15, 100%, 60%) 5px solid;
  margin: 0 5%;  /* Pone 0 para que se aplique el margin-top de article.siglo */
  padding: 0 5%;
}

article {
  clear: both;
}

article.siglo {
  margin: 50px 0;
  padding-bottom: 20px;
  background-color: hsl(15, 100%, 90%);
}

 h2, h3 {
  margin: 0;
  padding-left: 10px;
  background-color: hsl(15, 100%, 60%);
  color: white;
}

article article {
  overflow: auto;
  margin: 30px 10%;
  padding-bottom: 30px;
  background-color: white;
}

article article p {
  padding-left: 30px;
  padding-right: 30px;
}

aside {
  float: right;
  border-left: hsl(15, 100%, 60%) 5px solid;
  margin: 10px 0 10px 30px;
  padding: 10px 20px;
}

aside p {
  margin: 0;
  padding: 0;
  text-align: center;
}

footer {
  background-color: hsl(15, 80%, 50%);
  color: white;
}

footer p {
  margin: 0;
  padding: 5px;
}
