
body {
    background-color: hsl(200, 15%, 85%);
    font-family: sans-serif;
    text-align: justify;
}

h1 {
    color: #333333;
    font-size: 250%;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    background-color: hsl(173, 90%, 55%);/*que el fondo sea de ese color*/
    color: hsl(261, 89%, 56%);/*el color de la letra*/
    font-size: 200%;/*el tamaño de la letra*/
    text-decoration: underline; /*que esten las letras subralladas*/
}

h3 {
    background-color: hsl(200, 15%, 65%);
    color: hsl(200, 15%, 40%);
    font-size: 130%;
    font-style: italic;/*el estilo de la letra*/
}

p {
    background-color: hsl(147, 84%, 83%);
}

em {
    color: hsl(200, 100%, 40%);
    font-style: normal;
    font-weight: bold;
}

strong {
    color: hsl(200, 100%, 30%);
    font-weight: normal;
}

address {
    background-color: white;
    font-weight: bold;
    text-align: right;
}
