h1{
    background-color: black;
    color:white;
    text-align: end;
    font-size: 40px;
    margin:0;
}
h2{
    text-align: center;
    display: table;
    margin: auto;
    padding: 5px;
    background-color: gray;
    color: white;
}
h3{
    text-align: left;
    padding:0 20%;
    font-size: 150%;
    text-decoration: underline white;
}
p{
    text-align: left;
    padding:0 20%;
}
hr{
    margin-left: 20%;
    margin-right: 20%;
}
body{
    background-color: lightgray;
    margin:0;
}
footer{
    text-align: left;
    padding:0 20%;
}
.neg{
    font-weight: bold;
}
.roj{
    background-color: white;
    color: red;
}
.cita{
    font-size: 22px;
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: dashed;
}
.az{
    color: blue;
}