body{
    background-color: #e7e7e7;
}
div.dam{
    background-color: white;
    display: flex;
    flex-flow: column;
    text-align: left;
    padding-left: 0;
    padding-right: 400px;
    padding-top: 0;
    height: 400px;
    margin-top: 17px;
}
div.email{
    background-color: grey;
    width: 200%;
    height: 300px;
    color: #d2d2d2;
}
div{
    display: flex;
    padding: 10%;
}
div.h1{
    width:200%;
    padding-top: 0;
    font-size: 50px;
    margin-bottom: 0;
}
h1{
    margin-bottom: 0;
    padding-left: 20px;
}
div.p{
    width: 200%;
    font-size: 30px;
    color: #a19e9e;
}
label{
    background-color: grey;
    font-size: 40px;
    margin-bottom: 200px;
}
input{
    background-color: grey;
    margin-bottom: 10px;
    color: white;
    width: 150%;
    font-size: 20px;
    border: hidden;
}
input.email:hover{
    background-color: grey;
    color: white;
    width: 150%;
    font-size: 20px;
    border:solid #2d812d 4px;
}

input.submit:hover{
    background-color: grey;
    border: hidden;
    font-size: 40px;
    color:yellow;
}
input.submit{
    background-color: grey;
    border: hidden;
    font-size: 40px;
}
div.submit{
    margin-left: 100px;
}
hr{
    border: 5px solid pink;
    padding-left:50%;
    padding-right:50%;
    width: 65%;
}
p{
    padding-left: 20px;
}