#main-container {
    display: grid;
    grid-gap: 30px;
    padding: 10px;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto;
    margin:0 auto;
}
#header{
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    background-color: orange;
    padding: 10px;
}
#cell1{
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    background-color: deepskyblue;
    padding: 10px;
}
#cell2{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    background-color: red;
    padding: 10px;
}
#cell3{
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 5;
    text-align: center;
    background-color: greenyellow;
    padding: 10px;
}
#cell4{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 7;
    text-align: center;
    border: solid 15px blue;
    padding: 10px;
}
#cell5{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 7;
    text-align: center;
    background-color: pink;
    padding: 10px;
}
#cell6{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 7;
    text-align: center;
    background-color: darkgreen;
    padding: 10px;
}
#cell7{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 7;
    text-align: center;
    border: solid 15px green;
    padding: 10px;
}
#footer{
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 7;
    grid-row-end: 8;
    text-align: center;
    background-color: grey;
    padding: 10px;
}
#nested{
    display: grid;
    grid-gap: 30px;
    padding: 10px;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto auto ;
    margin:0 auto;
}
#item1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    background-color: cornflowerblue;
    padding: 20px;
}
#item2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    background-color: cornflowerblue;
    padding: 20px;
}
#item3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    background-color: cornflowerblue;
    padding: 20px;
}
#item4{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    background-color: cornflowerblue;
    padding: 20px;
}
#item5{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    background-color: cornflowerblue;
    padding: 20px;
}
#nested_2{
    display: grid;
    grid-gap: 30px;
    padding: 10px;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto ;
    margin:0 auto;
}
#item2_1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    background-color: lawngreen;
    padding: 10px;
}
#item2_2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    background-color: lawngreen;
    padding: 10px;
}
#item2_3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    background-color: lawngreen;
    padding: 10px;
}
#item2_4{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: center;
    background-color: lawngreen;
    padding: 10px;
}
#item2_5{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    text-align: center;
    background-color: lawngreen;
    padding: 10px;
}
@media (max-width: 768px) {
    #main-container {
        grid-template-columns: auto ;
        grid-template-rows: auto auto auto auto auto auto auto auto auto;
    }
    #header{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #cell4{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #cell1{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #cell2{
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #cell3{
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #cell5{
        grid-row-start: 6;
        grid-row-end: 7;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #cell6{
        grid-row-start: 7;
        grid-row-end: 8;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #cell7{
        grid-row-start: 8;
        grid-row-end: 9;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #footer{
        grid-row-start: 9;
        grid-row-end: 10;
        grid-column-start: 1;
        grid-column-end: 2;
    }
}