div.flex{
    display: flex;
    flex-flow: row wrap;
}
div.caja{
    background-color: yellow;
    margin:10px;
    border-radius: 25px;
    display:block;
    width:22%;
 }
div.titu{
    text-align: center;
}
span.num{
    color: grey;
}
div.in1{
    background-color: #27c527;
    margin: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 81%;
}
div.in2{
    background-color: red;
    margin: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 81%;
}
div.in3{
    background-color: deepskyblue;
    margin: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 81%;
}
img {
    width: 200px;
    height: 200px;
    border: solid 3px yellow;
}
div.text{
    display:flex;
    flex-direction: row-reverse;
    padding: 10px;
}
p{
    font-size: 120%;
}
div.text2{
    padding-right:20px;
}
div.tipo{
    text-align: center;
    padding:10px;
}
span.grass{
    background-color: #2d812d;
    color: white;
    padding:5px;
    margin:10px;
}
span.posion{
    padding:5px;
    margin:5px;
    background-color: #65328f;
    color: white;
}
span.fire{
    padding:5px;
    margin:5px;
    background-color: #fd8527;
    color: white;
}
span.water{
    padding:5px;
    margin:5px;
    background-color: #2744fd;
    color: white;
}