#grid-container {
    display: grid;
    /*grid gap, grid INTERNAL distance, vert. horizontal*/
    grid-gap: 10px;
    /*gap color*/
    background-color: #2196F3;
    /*padding, grid EXTERNAL distance*/
    padding: 10px;

    /*grid-template-columns, specify size of N columns */
    /*grid-template-columns: 20% 30% 30% 20%*/
    /*you can use fr  (“fraccio”) to "repeat the space left"*/
    grid-template-columns: 50px 2fr 4fr 10%;
    grid-template-rows: 1fr 2fr 2fr;
}

.grid-item {
    text-align: center;
    padding: 20px;
    font-size: 30px;
}
.item1{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    background-color:green;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
}
.item2{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    background-color:red;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 4;
}
.item3{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    background-color:orange;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.item4{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    background-color:darkviolet;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}
.item5{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    background-color:blue;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
.item6{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    background-color:hotpink;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
