ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-top: 0;
}

li {
    float: left;
    margin: 0;
}

li a {
    margin: 0;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    margin: 0;
    background-color: #111;
}
body{
    background-color: #208c3b;
    margin: 0;
}
h1{
    margin: 16px;
    color: white;
    font-size: 3rem;
    text-shadow: black 5px 5px;
}
p.pri{
    border: black 10px solid;
    border-radius: 30px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;
    background-color: white;
}
p.seg{
    border: #f51e1e 10px solid;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 16px;
    margin-right: 50%;
    padding: 10px;
    background-color: #ef5d5d;
    color: #000000;
}
p.ter{
    border: #070df6 10px solid;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: 50%;
    margin-right: 16px;
    padding: 10px;
    background-color: #3ad7fa;
    color: black;
}
p.cua{
    border: #f129ff 5px dashed;
    border-radius: 30px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;
    background-color: white;
    background-color: #9a76ff;
}