@import url("mclibre-pie.css");

/* Source:
   https://www.mclibre.org
*/

body {
  margin: 10px 10%;
  background-color: lightgray;
  font-family: sans-serif;
  text-align: justify;
}

h1 {
  font-size: 300%;
  letter-spacing: 10px;
  text-align: center;
}

h2 {
  clear: both;
  padding: 0.2rem 0.5rem;
  background-color: gray;
  color: white;
  font-size: 200%;
}

p {
  margin-left: 10%;
  margin-right: 10%;
  text-indent: 2rem;
}

img {
  float: left;
  margin: 0 10px 10px 0;
}

strong {
  background-color: white;
}

em {
  color: red;
}
