div.main-container {
    display: grid;
    grid-gap: 40px 40px;
    padding: 10px;
    grid-template-columns: 25% 25% auto;
    grid-template-rows: auto auto auto auto auto;
    margin:0 auto;
}
div.header{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    background-color: #ff761b;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
div.cell1{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    background-color: #1cffd9;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
div.cell2{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    background-color: #fd0000;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
div.cell3{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    background-color: #54ff54;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
div.cell4{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    background-color: #002dd2;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;

}
div.cell5{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    background-color: #e228ff;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}
div.cell6{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    background-color: #025e15;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}
div.footer{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    background-color: #525452;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}