h1{
    text-align:center;
}


table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 14px;
}


th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}


th {
    background-color: #0077be;
    font-weight: bold;
    color: #fff;
}


tr:nth-child(even) {
    background-color: #d2e4f0;
}


tr:nth-child(odd) {
    background-color: #f3f8fb;
}
